@using KabaImmo.Data;
@model KabaImmo.Data.Lot

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div class="nk-block nk-block-lg ">
    <form asp-action="Create" class="gy-3">
        <ul class="nav nav-tabs mt-n3" role="tablist">
            <li class="nav-item" role="presentation"><a class="nav-link active" data-bs-toggle="tab" href="#tabItem1" aria-selected="true" role="tab" tabindex="-1">Information Générale</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" data-bs-toggle="tab" href="#tabItem2" aria-selected="false" role="tab" tabindex="-1">Information Complementaires</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" data-bs-toggle="tab" href="#tabItem3" aria-selected="false" role="tab" tabindex="-1">Information Financière</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" data-bs-toggle="tab" href="#tabItem4" aria-selected="false" role="tab">Clé Et Digicode</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" data-bs-toggle="tab" href="#tabItem5" aria-selected="false" role="tab">Contrats et Diagnostics</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" data-bs-toggle="tab" href="#tabItem6" aria-selected="false" role="tab">Flyer Numèrique</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" data-bs-toggle="tab" href="#tabItem7" aria-selected="false" role="tab">Photos</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" data-bs-toggle="tab" href="#tabItem8" aria-selected="false" role="tab">Contacts</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" data-bs-toggle="tab" href="#tabItem9" aria-selected="false" role="tab">Documents</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active show" id="tabItem1" role="tabpanel">
                <div class="card card-bordered wide-md">
                    <div class="card-inner">
                        <div class="card-head">
                            <h5 class="card-title">Informations Générale</h5>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>
                        <div class="row g-3 align-center">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label asp-for="Id" class="control-label"></label>
                                    <span class="form-note">Selectionner le Type de bien</span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <select asp-for="Id" class="form-control" asp-items="ViewBag.Id"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3 align-center">
                            <div class="col-lg-5">
                                <div class="form-group"><label asp-for="Nom" class="control-label">Identifiant</label><span class="form-note">Saisir un identifiant, référence ou numèro unique</span></div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <input asp-for="Nom" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3 align-center">
                            <div class="col-lg-5">
                                <div class="form-group"><label class="form-label" asp-for="TypeLot">Type</label>
                                    <span class="form-note">Selectionner le Type de bien</span></div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        @Html.DropDownListFor(l=>l.TypeLot,new SelectList(TypeLot.GetValues(typeof(TypeLot)) , TypeLot.APPARTEMENTS ),new { @class = "form-select js-select2" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <span class="preview-title-lg overline-title mt-4">Couleur</span>
                        <hr class="mt-0"/>
                        <div class="row g-3 align-center">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label asp-for="Couleur" class="control-label"></label><span class="form-note">Selectionner une couleur</span>
                                    <span asp-validation-for="Couleur" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="form-control-wrap"><input asp-for="Couleur" class="form-control" /></div>
                                </div>
                            </div>
                        </div>

                        <span class="preview-title-lg overline-title mt-4">Information Locative</span>
                        <hr class="mt-0" />
                        <div class="row g-3 align-center">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label asp-for="TypeLocation" class="control-label"></label><span class="form-note">Copyright information of your website.</span>
                                    <span asp-validation-for="TypeLocation" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="form-control-wrap"><input asp-for="TypeLocation" class="form-control" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3 align-center">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label asp-for="LoyerHorsCharges" class="control-label"></label><span class="form-note">Copyright information of your website.</span>
                                    <span asp-validation-for="LoyerHorsCharges" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="form-control-wrap"><input asp-for="LoyerHorsCharges" class="form-control" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3 align-center">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label asp-for="Charges" class="control-label"></label><span class="form-note">Copyright information of your website.</span>
                                    <span asp-validation-for="Charges" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="form-control-wrap"><input asp-for="Charges" class="form-control" /></div>
                                </div>
                            </div>
                        </div>

                        <span class="preview-title-lg overline-title mt-4">Description</span>
                        <hr class="mt-0" />
                        <div class="row g-3 align-center">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label asp-for="Superficie" class="control-label"></label><span class="form-note">Copyright information of your website.</span>
                                    <span asp-validation-for="Superficie" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="form-control-wrap"><input asp-for="Superficie" class="form-control" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3 align-center">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label asp-for="Pieces" class="control-label"></label><span class="form-note">Nombre de pieces.</span>
                                    <span asp-validation-for="Pieces" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="form-control-wrap"><input asp-for="Pieces" class="form-control" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3 align-center">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label asp-for="SaleDeBain" class="control-label"></label><span class="form-note">Copyright information of your website.</span>
                                    <span asp-validation-for="SaleDeBain" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="form-control-wrap"><input asp-for="SaleDeBain" class="form-control" /></div>
                                </div>
                            </div>
                        </div>

                        <div class="row g-3 align-center">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label asp-for="DateContruction" class="control-label"></label><span class="form-note">Copyright information of your website.</span>
                                    <span asp-validation-for="DateContruction" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="form-control-wrap"><input asp-for="DateContruction" class="form-control" /></div>
                                </div>
                            </div>
                        </div>

                        <div class="row g-3 align-center">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label><span class="form-note">Copyright information of your website.</span>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        @Html.TextAreaFor(l=>l.Description, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row g-3 align-center">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label asp-for="note" class="control-label"></label><span class="form-note">Copyright information of your website.</span>
                                    <span asp-validation-for="note" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        @Html.TextAreaFor(l=>l.note, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="tab-pane" id="tabItem2" role="tabpanel">
                <div class="card card-bordered">
                    <div class="card-inner">
                        <div class="card-head">
                            <h5 class="card-title">Informations Complementaire</h5>
                        </div>

                        <div class="row g-3 align-center">
                            <div class="col-lg-5">
                                <div class="form-group"><label class="form-label">Type Habitat</label><span class="form-note">Enable or disable registration from site.</span></div>
                            </div>
                            <div class="col-lg-7">
                                <ul class="custom-control-group g-3 align-center flex-wrap">
                                    <li>
                                        <div class="custom-control custom-radio">
                                            @Html.RadioButtonFor(model => model.TypeHabitat, TypeHabitat.COLLECTIF, new { @class = "custom-control-input" })
                                            <label asp-for="TypeHabitat" class="custom-control-label" for="reg-disable">Collectif</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-radio">
                                            @Html.RadioButtonFor(model => model.TypeHabitat, TypeHabitat.INDIVIDUEL, new { @class = "custom-control-input" })
                                            <label asp-for="TypeHabitat" class="custom-control-label" for="reg-disable">Individuel</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
            <div class="tab-pane" id="tabItem3" role="tabpanel">
                <p>Bientôt</p>
            </div>
            <div class="tab-pane" id="tabItem4" role="tabpanel">
                <p>Bientôt</p>
            </div>
            <div class="tab-pane" id="tabItem5" role="tabpanel">
                <p>Bientôt</p>
            </div>
            <div class="tab-pane" id="tabItem6" role="tabpanel">
                <p>Bientôt</p>
            </div>
            <div class="tab-pane" id="tabItem7" role="tabpanel">
                <p>Bientôt</p>
            </div>
            <div class="tab-pane" id="tabItem8" role="tabpanel">
                <p>Bientôt</p>
            </div>
            <div class="tab-pane" id="tabItem9" role="tabpanel">
                <p>Bientôt</p>
            </div>

        </div>

        <div class="row g-3">
            <div class="col-lg-7 offset-lg-5">
                <div class="form-group mt-2"><button type="submit" class="btn btn-lg btn-primary">Update</button></div>
            </div>
        </div>
    </form>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}