@model KabaImmo.Data.Lot

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Lot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeLot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeLot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Couleur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Couleur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoyerHorsCharges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoyerHorsCharges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Charges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Charges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Superficie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Superficie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pieces)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pieces)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleDeBain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleDeBain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateContruction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateContruction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meubler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meubler)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fumeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fumeur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Animaux)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Animaux)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dependances)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dependances)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Immeuble)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Immeuble.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
